

.board-wrapper {
    display: inline-block; /* Adjust display property to inline-block */
    vertical-align: middle; /* Vertically align the board */
}

.board {
    display: grid; /* Ensure the board remains a grid */
    grid-template-columns: repeat(8, 64px); 
    grid-template-rows: repeat(8, 64px); 
    width: 512px;
    height: 512px;
    box-sizing: border-box;
}

.board-square {
    position: relative;
    width: 64px;
    height: 64px;
    border: 1px solid black;
    box-sizing: border-box;
}

.board-square:nth-child(16n + 1),
.board-square:nth-child(16n + 3),
.board-square:nth-child(16n + 5),
.board-square:nth-child(16n + 7),
.board-square:nth-child(16n + 10),
.board-square:nth-child(16n + 12),
.board-square:nth-child(16n + 14),
.board-square:nth-child(16n + 16) {
    background-color: #c2c2c2; 
}

.board-square:nth-child(16n + 2),
.board-square:nth-child(16n + 4),
.board-square:nth-child(16n + 6),
.board-square:nth-child(16n + 8),
.board-square:nth-child(16n + 9),
.board-square:nth-child(16n + 11),
.board-square:nth-child(16n + 13),
.board-square:nth-child(16n + 15) {
    background-color: #7f7f7f; 
}

.black-piece {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    background: black;
    border-radius: 100%;
    cursor: pointer;
    z-index: 10;
}

.white-piece {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    background: rgb(255, 255, 255);
    border: solid 1px black;
    border-radius: 100%;
    cursor: pointer;
    z-index: 10;
}

